{% extends "base.html" %}{% block content %}
<div class="col-md-6 mx-auto bg-white p-4 shadow-sm rounded">
  <h4>Request a slot</h4>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-2">{{ form.date.label }} {{ form.date(class="form-control") }}</div>
    <div class="mb-2">{{ form.start_time.label }} {{ form.start_time(class="form-control") }}</div>
    <div class="mb-2">{{ form.end_time.label }} {{ form.end_time(class="form-control") }}</div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{% endblock %}
